.pokedex {   
    background: url('https://assets.pokemon.com//assets/cms2-es-es/img/misc/virtual-backgrounds/masters/forest.jpg') no-repeat  center fixed;
    background-size: cover; 
    display: flex;
  justify-content: center;
  
}
.pokedex__cont {
    
    display: grid;
    grid-template-columns:repeat(3,400px) ;
    margin-right: 4em;
    margin-left: 14em;
   
}
.pokedex__name {
  font-weight: 600;
  color: rgb(246, 10, 10);

}
.pokedex__title{
    font-size: 1.1rem;
    padding: 1.5em 1em 0.5em;
    text-shadow: -1px 0px 1px #7b7a7a;
}

.form {
    
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(2, 30px);
    gap: 0.9em;
    padding: 1em;
    align-items: center;
}
.form__pokedex-select {
    background-color: gainsboro;
    grid-column: 8;
    grid-row: 2;
    height: 2.3em;
    width: 13em;
    outline: none;
    font-size: 0.9rem;
    font-weight: bold;
    color: rgb(33, 3, 49);
    padding-left: 0.4em;
    border-radius: 0.5em  0.5em 0.5em 0.5em;
     border: none; 
     margin-bottom:9em;
}
.form__principal {
    grid-column: 1/5;
    grid-row: 2/3;
    margin: 0 auto;
}
#form__pokedex {
    background: rgb(255, 247, 251);
    background: linear-gradient(90deg, rgb(227, 214, 220) 0%, rgb(228, 234, 240) 100%);
    color: rgb(11, 13, 15);
    border-radius: 1em 0em 0em 1em;
    max-width: 200px;
    padding-left: 2em;
    font-weight: 500;
    font-size: 1rem;
    padding-left: 0.5em;
    height: 2em;
    width: 14em;
}
#form__pokedex-btn {
    background: rgb(246, 10, 10);
    background: linear-gradient(90deg, rgb(227, 69, 6) 0%,
    rgb(236, 17, 20) 100%);
    font-size: 1.1rem;
    height: 1.8em;
    width: 6.9em;
    margin-left: -0.5em;
    border-radius: 1em 1em 1em 1em;
    cursor: pointer;
    transition: font-weigth 100ms ease, filter 100ms ease;

}
#form__pokedex-btn:hover {
    filter: brightness(1.1);
    color: yellow;
}